---
description: Um mnemönico para ajudar a lembrar assuntos que se confundem
author: Bruno Resende dos Santos
data: 2023-10-16
---
Me ajude a criar um mnemönico para lembrar do seguinte tópico:

<topico>
    {{ topic | default('aferente e deferente') }}
</topico>